.img-card {
    height: 90px; /* Establece la altura deseada */
    object-fit: contain; /* Esto asegura que la imagen se ajuste dentro del tamaño especificado sin distorsionarse */
  }
  ion-img img {
    height: 90px;
  }
  
  ion-card:hover {
      transform: scale(1.05);
      transition: transform 0.3s ease;
      cursor: pointer;
    }