<app-header></app-header>
<main style="padding-top: 4rem">
    <div class="container container-texts">
        <div class="container-fluid img-about" data-aos="fade-zoom" data-aos-offset="200" data-aos-duration="300">
        </div>
        <div>
            <h2 class="titles-head">Misión</h2>
            <p  class="about-text">
                Nuestra misión es ofrecer contenido original y relevante mediante un espacio exclusivo para la difusión
                de contenido empresarial y comercial de alta calidad. Nos dedicamos a proporcionar una fuente confiable
                de información, análisis y recursos relevantes que les permitan mejorar sus habilidades empresariales,
                mantenerse actualizados sobre las últimas tendencias del mundo comercial y fomentar el crecimiento de
                sus negocios.
            </p>
        </div>
        <div data-aos="fade-zoom" data-aos-offset="200" data-aos-duration="300">
            <h2 class="titles-head">Visión</h2>
            <p  class="about-text">
                Nos visualizamos como el principal emprendimiento con una línea de difusión digital para el contenido
                empresarial y comercial exclusivo. Nuestra visión es alentar a empresarios, emprendedores y
                profesionales de diversas industrias, brindándoles información valiosa, perspectivas expertas y
                herramientas prácticas para su crecimiento.
            </p>
        </div>
        <h2 class="titles-head" style="font-size: 3vh" data-aos="fade-zoom" data-aos-offset="200" data-aos-duration="300">Estamos ubicados</h2>
        <div class="gmap_canvas" data-aos="fade-zoom" data-aos-offset="200" data-aos-duration="300">
            <iframe class="gmap_iframe" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
            src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=Casimiro Sotelo Montenegro National University, Pista de la Resistencia, Managua&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
            </iframe>
        </div>
        
    </div>
</main>
<app-footer></app-footer>