<app-header title="Inicio"></app-header>

<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col size="12" sizeMd="6">
        <ion-title class="ion-padding-top ion-padding-bottom">Accesos directos</ion-title>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center ion-justify-content-center">     
      <ion-col size="6" size-sm="6" size-md="6" size-lg="3">
        <app-card-dashboard ImgSrc="../../assets/icon/business.svg" TitleCard="Negocios"  [routerLink]="['/view-business']" ></app-card-dashboard>
      </ion-col>
      <ion-col size="6" size-sm="6" size-md="6" size-lg="3">
        <app-card-dashboard ImgSrc="../../assets/icon/web.svg" TitleCard="Blog" [routerLink]="['/admin-blog']"></app-card-dashboard>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
